.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.headerBar {
  height: 50px;
  background: #4ECDC4;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 32px;
  color: #fff;
  flex-shrink: 0;
  gap: 32px;
}

.dropdownOuter {
  position: relative;
}

.dropdownLabel {
  cursor: pointer;
  border-radius: 8px;
  background: #4ECDC4;
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0 12px;
}

.dropdownLabel:hover {
  background: #4bb8b1;
}

.dropdownInner {
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  background: #556270;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 8px;
  display: none;
}

.dropdownInner:after {
  bottom: 100%;
  left: 20px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #556270;
  border-width: 10px;
  margin-left: -10px;
}

.dropdownInner>input,
.dropdownInner>select,
.dropdownInner>label,
.dropdownInner>div {
  height: 44px;
}

.dropdownInner>label:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.dropdownInner>label:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dropdownInner>label {
  text-align: left;
  padding: 0 12px;
  color: #fff;
  font-size: 15px;
  display: flex;
  align-items: center;
  background: #556270;
}

.dropdownInner>label:hover {
  background: #4b5865;
}

.visible {
  display: flex;
}

.tokenScrollContainer {
  width: 100%;
  margin-bottom: 16px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.inputIndicator {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 8px 12px;
  border: 2px solid #ccc;
  margin-bottom: 24px;
  font-size: 24px;
  color: #bbb;
  font-style: italic;
}

.tokensOuter {
  margin: 8px 0;
  font-size: 24px;
  display: grid;
  grid-template-columns: min-content 200px;
  row-gap: 24px;
  margin: 32px 0 8px 0;
}

.left {
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
}

.grey {
  color: #999;
}

.left.grey:hover {
  cursor: pointer;
  color: #000;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 30px;
}

.expandSubTokens {
  grid-column: span 2;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.expandSubTokens:hover {
  color: #222;
}

.subTokenLine {
  flex-grow: 1;
  height: 1px;
  background: #555;
  margin: 0 12px;
}

.actions {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}

.docItemOuter {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 12px;
  background: #fafafa;
}

.docItemDescription {
  font-size: 14px;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.docItemBefore {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

.docItemAfter {
  padding: 12px;
  white-space: nowrap;
}

.logs {
  display: flex;
  flex-grow: 1;
  background: #f8f6e7;
  margin: 0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

.logs h4 {
  background: #CAD7B2;
  margin: 0;
  padding: 8px 12px;
  text-align: left;
}

.logsInner {
  flex-grow: 1;
  overflow-y: scroll;
  margin: 0;
  padding: 12px;
  height: 0;
}

.logItem {
  text-align: left;
}

.buttonAction {
  color: #fff;
  font-weight: 600;
  background: #838689;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
}

.buttonAction:hover {
  background: #50354a;
}

.buttonAction:active {
  background: #422a3d;
}

.expand {
  flex-grow: 1;
}